// Styles for main layout
// --------------------------------------------------

html, body {
  height:100%;
  width:100%;
  margin:0;
}


// Header
#header {
  background-color: $brand-info;
  padding: 0;
  margin: 0;
}


// Styles for main layout
// --------------------------------------------------

#main-wrapper {
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  /*  background-position:center center;*/
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
  .page-header {
    margin: 9px 0;
  }
}


// Footer
#footer {
  background-color: $brand-info;
  height: 60px;
  padding: 0;
  margin: 0;
  .container {
    padding-top: 20px;
  }
}  