// Styles for Menus and Navs
// --------------------------------------------------

// Custom Navigation Bar



.navbar-default {
  border-color: transparent;
  /* background-color: $brand-info; */
  margin: 0;
}



.navbar-default .navbar-brand {
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
/*   color: $brand-primary; */
  text-transform: uppercase;
  padding: 10px 15px 10px 0;
  line-height: 30px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  /* color: $brand-primary; */
}

.navbar-default .navbar-collapse {
border: none;
}

/* 
.navbar-default .navbar-toggle {
  border-color: $brand-primary;
  background-color: $brand-primary;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $text-color;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: $brand-primary;
}
 */

.navbar-default .nav li a {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
/*   color: $text-color; */
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  outline: 0;
/*   color: $brand-primary; */
}

.navbar-default .navbar-nav>.active>a {
  border-radius: 0;
  color: $text-color;
/*   background-color: $brand-primary; */
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: $text-color;
/*   background-color: $brand-primary; */
}

.navbar-brand{
  float:left;
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 15px;
  padding-bottom: 15px;
  font-size:20px;
  line-height:23px;
  height:50px
}


  .navbar-default .navbar-nav>.active>a {
   border-radius: 3px;
  }

  .navbar-default.navbar-shrink {
    padding: 10px 0;
/*     background-color: #222; */
  }

  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }










