//
// Styles for individual pages
// --------------------------------------------------
#page-header {
  padding: 0 15px;
}
.main {
  padding:20px 0;
}

.page-admin .main {
  padding: 20px 15px;
}

#footer {
  margin:0 ;
}
.footer {
  padding:40px 0;
  margin: 0;
}
