//
// Styles for panels and panes.
// --------------------------------------------------

// Base class
.panel {
  margin: 10px 0;
  border:  none;
  box-shadow: none;
}

.well {
  margin: 10px 0;
  padding: 10px;
  border:  none;
  box-shadow: none;
}



.jumbotron-title,
.well-title, 
.pane-title {
	font-size: $font-size-h4;
	margin:0 0 10px 0;
	padding:0;
}

#album .pane-node-title,
#track .pane-node-title {
	font-size: $font-size-h3;
	margin:0;
	padding:0;
}



