//
// Styles for Tabs, Messages, ..etc
// --------------------------------------------------

body.modal-open {
  overflow: visible !important;
}
/* 
.branding {
  position: relative;
  .logo {
    margin: 20px 0;
  }
}
.site-name {
  display: inline-block;
  float: left;
  font-size: 2em;
  line-height: 1.15em;
  margin: 50px 20px 0;
  @media(max-width:460px) {
    clear: left;
    float: none;
    margin: 10px 20px 5px 0;
  }
}
.site-slogan {
  clear: left;
  margin-bottom: 20px;
}
 */
h1 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 15px;
}
/* 
h1,h2,h3,h4 {
  color:$gray-dark;
  font-weight:bold;
}
 */
h3
.media-heading {
  margin:.5em 0;
}


a:link {
  text-decoration: none;
}

a {
  color:$brand-primary;
  &:hover {
    color:$brand-secondary;
  }
}
p,
p:last-child {
  margin: 0 0 1.25em 0;
}

.breadcrumb {
  background: none;
  border: none;
  font-size: 1em;
  list-style: none;
  padding: 0;
  position: relative;
  li {
    float:none;
    a {
      span {
        display:none;
      }
    }
    &.home-link a {
      font-size:1.3em;
      i {
        display: block;
      }
    }
  }
}

.alert {
  border: none;
}

@media screen and (max-width: 1024px) {
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > tfoot > tr > td {
    white-space: normal;
  }
}
.field-name-field-additional-info .field-label {
  margin-bottom: 1em;
}
.group_additional,
.field-name-field-additional-info table,
.field-name-field-additional-info .table-responsive {
  margin: 0;
  td,
  th {
    white-space: normal;
    width: auto;
  }
  td:nth-of-type(2n) {
    @include wrap;
  }
  @media all and (min-width:768px) {
    th:nth-of-type(1n),
    td:nth-of-type(1n) {
      width: 30%;
      border-right: 1px solid $border;
    }
    th:nth-of-type(2n),
    td:nth-of-type(2n) {
      width: 70%;
    }
  }
}
.node-form {
  table.group_additional,
  .field-name-field-additional-info table {
    th,
    td,
    th:nth-of-type(1n),
    td:nth-of-type(1n),
    th:nth-of-type(2n),
    td:nth-of-type(2n) {
      width: auto;
      .form-control {
        display: inline;
        width: auto;
      }
    }
  }
}
.table > thead:first-child > tr:first-child > th,
table thead:first-child tr:first-child th {
  border: 1px solid $border;
}
.table-bordered > thead > tr > th,
table thead > tr > th {
  background-color: lighten($border, 4%);
  border: 1px solid $border;
  padding:4px 8px;
}

// Striped tables.
.table-striped > tbody > tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.table tbody tr:hover td, 
.table tbody tr:hover th,
.table-striped > tbody > tr:nth-child(odd):hover {
  background-color: #FFFEEE;
}

// Admin tables.
.page-admin {
  .container.main {
    width: 100%;
  }
  .table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .table-bordered > tbody > tr > td {
    border: none;
  }
  table thead > tr > th.checkbox, 
  table.table thead > tr > th.checkbox,
  .table-bordered > tbody > tr > th.checkbox,
  .table-bordered > tbody > tr > td.checkbox,
  .table-striped > tbody > tr:nth-child(odd) > td.checkbox,
  .table-striped > tbody > tr:nth-child(odd) > th.checkbox {
    background-color: transparent;
    border: none;
    margin: 0;
    display: table-cell;
    position: relative;
  }
  .table tbody tr:hover td.checkbox, 
  .table tbody tr:hover th.checkbox {
    background-color: #FFFEEE;
  }
  table th.checkbox, 
  table td.checkbox {
    label {
      line-height:0;
      padding: 4px;
      vertical-align: top;
    }
    input[type="checkbox"],
    input {
      float: none !important;
      margin: 0 !important;
      position: relative;
    }
  }

  table .checkbox input[type="checkbox"] {
    position: relative;
  }
}

dl {
  margin:0;
  padding:0;
  clear:both;
  overflow:hidden;
}
dt {
  clear: both;
  margin:0;
  padding:8px 5px;
  float:left;
  width:28%;
}
dd {
  margin:0;
  padding:8px 5px;
  float:right;
  width:72%;
}
dt:nth-of-type(2n),
dd:nth-of-type(2n) {
  background:$shade;
}