// Styles for Views
// --------------------------------------------------

// General
// --------------------------------------------------
.view {
  .view-header {
    margin-bottom: 18px;
     h1, h2, h3 {
      margin-top: 0;
    }
    p.lead {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .view-content {
    .views-row,
    .row {
      padding-bottom: 20px;
      .col {
        padding-bottom: 20px;
      }
    }
  }
  .view-footer {
    margin-top: 18px;
  }
}


