//
// SASS Mixins
// --------------------------------------------------

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin popblock {
  @include border-radius(3px);
  @include box-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  //background-color: $white;
  margin-bottom: 20px;
  padding:0px;
  .pane-content {
    margin: 0;
    padding: 15px;
  }
}

@mixin block-title {
  //@include background-image(linear-gradient(#F5F5F5, #F0F0F0));
  background-color: $border;
  @include border-radius(3px 3px 0 0);
  border-bottom: 1px solid $border;
  color: $gray-dark;
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
  padding: 7px 10px;
}

@mixin block-plain {
  @include border-radius(0);
  @include box-shadow(none);
  .pane-content {
    @include border-radius(0);
    @include box-shadow(none);
    margin: 0;
    padding: 0;
  }
}

@mixin searchbox {
  form {
    display:block;
    margin:8px 0;
    position:relative;
    width: 100%;
  }
  input.form-text {
    padding-right:30px;
  }
  button[type="submit"],
  input[type="submit"] {
    background:none !important;
    border:none;
    content:"\f002";
    color: $gray;
    display: inline-block;
    font-size: 1.3em;
    font-family: $icon-fa;
    margin: 0;
    padding:0;
    position: absolute;
    right:10px;
    top: 3px;
    width:25px;
  }
}

%button {
  // background:$brand-primary;
  // border-color:$brand-primary;
  color: white;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  padding: 5px 12px;
  line-height: 1.4em;
  @include border-radius(4px);
}
%button:hover, 
%button:focus, 
%button:active {
  // background:$brand-secondary;
  // border-color:$brand-secondary;
  color: white;
  text-decoration: none;
}
%button-attached {
  @include border-radius(0 $border-radius-base $border-radius-base 0);
  margin-left: -1px;
  padding: 5px 12px;
  line-height: 1.4em;
  vertical-align: top;
}

%screenreader {
  position: absolute;
  top:0;
  left:-9999px
}

// Force wrap content: https://perishablepress.com/wrapping-content/
@mixin wrap {
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap;  /* HP Printers */
  word-wrap: break-word;      /* IE 5+ */    
  word-break: break-word;
}

// Image replacement
@mixin ir {
  // Kellum Method
  display: block !important;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  // Additional helpers
  border: 0;                     // Remove the default border from elements like <button>
  font: 0/0 a;                   // Crush the text down to take up no space
  text-shadow: none;             // Remove any text shadows
  color: transparent;            // Hide any residual text in Safari 4 and any mobile devices that may need it
  background-color: transparent; // Hide the default background color on elements like <button>
}
//transition
@mixin transition {
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}