/**
 * @file
 * CSS for Colorizer.
 */
body,
.html {
  background-color: @bg;
  color: @text;
}

/* 
.col-sm-8,
.col-sm-6,
.col-sm-12 {
  background-color: @toolbarborder;
  opacity: 0.2;
}
 */
#logo,
.navbar-brand {
  color: @titleslogan;
}
h1,h2,h3,h4 {
  color: @title;
}


a {
  color: @link;
}
a:hover,
a:focus {
  color: @linkhover;
}
a:active {
  color: @linkactive;
}

.header,
.navbar-default,
#header {
  background: @top;
}

.navbar-default .navbar-toggle {
  background: @toolbarborder;
  color: @title;
  border: @toolbarborder;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: @bottom;
}


.navbar-default .navbar-nav li > a,
.navbar-default .user-menu li > a { color: #FFFFFF; }

.navbar-default .navbar-nav li.open > a,
.navbar-default .navbar-nav .dropdown-menu { background: @top; }

.navbar-default .navbar-nav .open .dropdown-menu li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu li > a:active { background-color:@bottom; }

.navbar-default .navbar-nav li.open > a:hover,
.navbar-default .navbar-nav li.open > a:focus,
.navbar-default .navbar-nav li.open > a:active,
.navbar-default .navbar-nav li > a:hover,
.navbar-default .navbar-nav li > a:focus,
.navbar-default .navbar-nav li > a:active,
.navbar-default .user-menu li > a:hover,
.navbar-default .user-menu li > a:focus { background-color:@bottom; color: #fff; }

.navbar-default .navbar-nav li.active > a,
.navbar-default .navbar-nav li.active > a:hover,
.navbar-default .navbar-nav li.active > a:focus,
.navbar-default .navbar-nav li.active > a:active,
.navbar-default .user-menu li.active > a,
.navbar-default .user-menu li.active > a:hover,
.navbar-default .user-menu li.active > a:focus { background:@linkactive; color: #fff; }

.main .nav-pills li a,
.main .nav-tabs li a {
  background: @top;
  color:  #fff;
}

.main .nav-pills li a:hover,
.main .nav-tabs li a:hover {
  background: @bottom;
   color:  #fff;
}

.main .nav-pills > li.active > a, 
.main .nav-pills > li.active > a:hover, 
.main .nav-pills > li.active > a:focus,
.main .nav-tabs > li.active > a, 
.main .nav-tabs > li.active > a:hover, 
.main .nav-tabs > li.active > a:focus {
  background: @linkactive;
  color:  #fff;
}

.view-group-block .views-field-nid a,
.btn-primary,
.links .btn,
input.btn {
  background-color: @top;
  border:1px solid @top;
  color:#ffffff;
}

.view-group-block .views-field-nid a:hover,
.btn-primary:hover,
.links .btn:hover,
input.btn:hover,
input[type="submit"]:hover {
  background:@bottom;
  border:1px solid @bottom;
  color:#ffffff;
}


.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active,
.links .btn:focus,
.links .btn.focus,
input.btn:focus, 
input[type="submit"]:focus, 
input[type="submit"]:active {
  background: @linkactive;
  border-color: @linkactive;
  color: #ffffff;
}


/* 
.jumbotron,
.jumbotron .jumbotron-title,
.jumbotron .panel,
.well,
.well .well-title,
.well .panel {
  background: @toolbarborder;
  color: @title;
  border: @toolbarborder;
  border-radius: 20px;
}


.table,
.table .tbody {
  background: @toolbarborder;
  color: @title;
  border: transparent;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background: @toolbarborder;
  color: @title;
  border: transparent;
}
 */


#footer,
.footer {
  background-color: @footer;
  color: @sidebar;
}
.footer a {
  color: @sidebarborders;
}