/**
 * Stylesheet for OpenProducer Profile
 */

#pushtape-theme-selection-form .form-item-theme {
  clear: both;
  margin-top: .5em;
  margin-bottom: .5em;
}

#pushtape-theme-selection-form .form-item-theme label img {
  float: left;
  width: 100px;
  margin-right: 1em;
}

#pushtape-apps-check #edit-pantheon img {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
}

body.maintenance-page #logo {
  background:transparent url(pushtape.png) no-repeat top left;
  height:0;
  overflow:hidden;
  padding-top: 180px; /* height of logo  */
  width: 180px; /* width of logo  */
}
